body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.header,
.header-links,
ul,
a,
.footer,
.main-title,
.main-box,
.placeholder,
.info-section,
.card-box,
.card {
    display: flex;
}

.header,
.footer {
    background-color: #1F2937;
}

.header {
    flex-direction: column;
    padding: 0 160px;
}

.header-links {
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    padding: 16px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: normal;
}

.main-title {
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 116px;
}

.main-box {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    width: 500px;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

.main-box p {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;
    margin: 0;
    padding-bottom: 10px;;
}

button {
    background-color: #3883F6;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px 32px;
    font-weight: 900;
    font-size: 18px;
}

#sign-button {
    border: 2px solid white;
}

.placeholder {
    flex-shrink: 0;;
    background-color: gray;
    width: 500px;
    height: 250px;
    justify-content: center;
    line-height: 250px;
    color: white;
}

.info-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
}

.info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.card-box {
    justify-content: space-evenly;
    text-align: center;
    font-size: 18px;
    flex-flow: row wrap;
    gap: 50px;
}

.card {
    width: 190px;
    height: auto;
    flex-direction: column;
}

.card-image {
    outline: 5px solid #3882F6;
    height: 190px;
    border-radius: 10px;
    color: white;
}

.card p {
    margin-top: 15px;
}